<p class="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @post.title %>
</p>

<p>
  <b>Desc:</b>
  <%= @post.desc %>
</p>

<p>
  <b>Date:</b>
  <%= @post.date %>
</p>

<h2>Proposed Movies</h2>
<%= render :partial => "movies/movie",
					 :collection => @post.movies %> 

<h2>Add a movie:</h2>
<%= render :partial => "movies/form" %>


<h2>Comments</h2>
<%= render :partial => "comments/comment",
					 :collection => @post.comments %> 

<h2>Add a comment:</h2>
<%= render :partial => "comments/form" %>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
